* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    @include size(100%);
    @include margin(0);
    @include padding( 0);
}

a {
    &:hover,
    &:active,
    &:visited,
    &:link,
    &:hover {
        text-decoration: none !important;
    }
}

ul {
    @include padding(null null null 0);
    li {
        list-style-type: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include margin(0 null);
}
