header.header {
    @include padding(15px null 15px null);
    @include position(fixed, 0 null null null);
    @include size( 100% 45px);
    background: rgba($black, 0.8);
    z-index: 1;
    h1 {
        @include position(relative, null null null 20px);
        @include size(120px null) z-index: 9;
    }
    nav.primary {
        display: none;
    }
    .social-container.desktop {
        @include position(relative, 20px 20px null null);
        display: none;
        .social {
            @include size( 150px null) width: 150px;
            @include margin( 0 auto);
            @include padding(0px 0px 0px 25px);
            background-color: #464646;
            p {
                font-family: $font__arialbold;
                font-size: 13px;
                color: $color__blue;
                @include inline-block;
                @include padding(0);
                @include margin(11px 0);
                i {
                    @include margin(null 10px null null);
                }
            }
            .fa-plus {
                color: $white;
                background-color: #e34e33;
                @include padding(10px 10px 14px 11px);
                @include margin(null null null 11px);
            }
        }
    }
    .menu__toggle {
        @include position(absolute, 50% 20px null null);
        @include size(35px 15px);
        @include transition(opacity .25s ease);
        @include transform(translateY(-50%));
        border-radius: 50%;
        cursor: pointer;
        z-index: 100;
        span {
            @include size(100% 2px);
            @include position(absolute, 0 null null 0);
            @include transition(all .35s ease);
            background: $white;
            border: none;
            cursor: pointer;
            &.bottom {
                top: 12px;
            }
        }
        &.active {
            span {
                &.top {
                    @include transform(translateY(6px) translateX(0) rotate(45deg));
                }
                &.bottom {
                    @include transform(translateY(-6px) translateX(0) rotate(-45deg));
                }
            }
        }
    }
    .menu__overlay {
        @include position(fixed, 0 0 null 0);
        @include size(100%);
        @include transition( opacity .5s, visibility .5s, height .5s);
        background-color: $black;
        opacity: 0;
        visibility: hidden;
        z-index: 9;
        overflow: hidden;
        &.open {
            opacity: 1;
            visibility: visible;
        }
        nav {
            @include margin(100px null null null);
            ul {
                text-align: center;
                @include margin(50px null null null);
                li {
                    @include margin(10px 0);
                    @include padding(null null 5px null);
                    &:nth-child(4) {
                        a {
                            color: $color__grey--light;
                        }
                    }
                    &:nth-child(5) {
                        a {
                            color: $color__red--light;
                        }
                    }
                    a {
                        font-family: $font__arialbold;
                        font-size: 16px;
                        color: $white;
                        text-align: center;
                    }
                }
            }
        }
        .social-container {
            .social {
                @include size( 150px null) width: 150px;
                @include margin( 0 auto);
                @include padding(0px 0px 0px 25px);
                background-color: #464646;
                p {
                    font-family: $font__arialbold;
                    font-size: 13px;
                    color: $color__blue;
                    @include inline-block;
                    @include padding(0);
                    @include margin(11px 0);
                    i {
                        @include margin(null 10px null null);
                    }
                }
                .fa-plus {
                    color: $white;
                    background-color: #e34e33;
                    @include padding(10px 10px 14px 11px);
                    @include margin(null null null 11px);
                }
            }
        }
    }
    @include grid-media($custom-neat-grid) {
        .header__container {
            @include margin(null null null 25px);
        }
        h1 {
            @include inline-block;
        }
        .menu__toggle {
            display: none;
        }
        nav.primary {
            @include inline-block;
            @include margin (null null null 20px);
            @include position(relative, 5px null null null);
            ul {
                li {
                    float: left;
                    @include margin(null 10px);
                    @include padding(null null 5px null);
                    &:nth-child(4) {
                        a {
                            color: $color__grey--light;
                        }
                    }
                    &:nth-child(5) {
                        a {
                            color: $color__red--light;
                        }
                    }
                    a {
                        font-family: $font__arialbold;
                        font-size: 16px;
                        color: $white;
                        text-align: center;
                    }
                }
            }
        }
    }
    @include grid-media($custom-neat-grid-lg) {
        .header__container {
            @include size (945px null);
            @include margin (0 auto);
        }
        .social-container.desktop {
            @include inline-block;
            float: right;
        }
    }
}
